/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark+ Theme */
body {
    font-family: 'Consolas', 'Courier New', monospace;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding: 0px;
}

h2 {
    color: #d4d4d4;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.0em;
}

h3 {
    font-size: 0.9em;
    font-weight: normal;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background: #1e1e1e;
    padding: 20px;
    border: 0;
}

#add-todo, #open-todos, #completed-log {
    margin-bottom: 40px;
}

#todo-form {
    display: flex;
    gap: 10px;
}

#todo-input {
    flex-grow: 1;
    background-color: #252526;
    border: 1px solid #333;
    color: #d4d4d4;
    padding: 10px;
    font-family: inherit;
    font-size: 0.9em;
}

#todo-input:focus {
    outline: 1px solid #007acc;
}

button {
    border: 1px solid #333;
    background-color: #252526;
    color: #d4d4d4;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.8em;
}

button:hover {
    background-color: #333;
}

#todo-form button {
    background-color: transparent;
    border: 1px solid #007acc;
    color: #007acc;
}

#todo-form button:hover {
    background-color: #007acc;
    color: #fff;
}

ul {
    list-style: none;
}

li, .log-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #333;
    font-size: 0.8em;
}

li:last-child {
    border-bottom: none;
}

li button, .log-item button {
    background: none;
    padding: 5px 10px;
    font-size: 0.9em;
    border-radius: 0;
}

li button {
    border: 1px solid #28a745;
    color: #28a745;
}

li button:hover {
    background: #28a745;
    color: #fff;
}

.log-group h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #6c757d;
    font-weight: bold;
}

.log-item {
    background-color: transparent;
    margin-bottom: 0;
    font-size: 0.8em;
    color: #8c8c8c; /* Dim completed items */
}

.log-item span {
    text-decoration: line-through;
}

.log-item button.undo-button {
    border: 1px solid #ffc107;
    color: #ffc107;
}

.log-item button.undo-button:hover {
    background: #ffc107;
    color: #1e1e1e;
}
